/* body {
  background-image: url("../images/lightcolorbg.JPG");
  background-size: 100% 100%; /* Stretches the image to fit both width and height
  background-repeat: no-repeat;
} */

body {
  background-color: #dbf2c7
}