body {
  background-image: url("../images/lightcolorbg.JPG");
  background-size: 100% 100%; /* Stretches the image to fit both width and height */
  background-repeat: no-repeat;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  color: purple;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
border-color:red;
}